/** ----------------multiple-------------------- */

    .App {
        text-align: center;
        font-family: Geneva, Verdana, sans-serif;

    }

    h2{
        margin-bottom: 2%;

    }

    h3{
        color: aliceblue;
        margin: 3%;
    }

/**--------------------Home-----------------*/

.home{
    background-color: gray;
    background-image: url("./images/LicEdited1.heic");
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    background-size: cover;
}

.homeNameDiv-lg{
    margin: 0;
    padding: 4%;
    width: 95.2%;
    background:dimgrey;
    color: white;
    opacity: 75%;
    flex-basis: max-content;
    border-color: gray;
    border-style: outset;
    border-width: 0.005em;
}

.homeNameDiv-sm{
    margin: 0;
    padding: 4%;
    background:dimgrey;
    color: white;
    opacity: 75%;
    flex-basis: max-content;
    border-color: gray;
    border-style: outset;
    border-width: 0.005em;
}

.homeNameTextDiv, h2{
    color: white;

}

.personal-summary{
    text-align:justify;
}

.SchoolCard{
    opacity: 90%;
}

.SchoolCard:nth-of-type(1){
    background-color: #898c83;
    opacity: 90%;
}

.SchoolCard:nth-of-type(2){
    /* background-color: #f59794; */
    background-color: #969069;
    color: #2D2926;
    opacity: 80%;
}

.SchoolCard:nth-of-type(3){
    /* background-color: #9bddff; */
    background-color: gray;
    opacity: 95%;
}

.schoolText{
    font-size: small;
}

.SkillCard{
    opacity: 60%;
    height: 100%
}

.skillType{
    opacity: 70%;
    color: black;
    height: 95%;
}

p{
    margin: 20px;
}

/**--------------------Experience-----------------*/

.experience{
    background-color: gray;
    background-image: url("./images/LicRedEdited1.heic");
    background-size: cover;
}


.job-card-sm{
    width: 94%;
}

.job-card-lg{

    flex-basis: 47%;
    margin: 1%;
    box-sizing: border-box;

}

.job-card-lg2{

    flex-basis: 47%;
    margin: 1%;
    box-sizing: border-box;
}

.job-card-lg2{
    height: 100%;
}

.job-card-bg{
    font-size: small;
    padding: 3%;
    margin: 2%;
    background:dimgrey;
    color: white;
    opacity: 75%;
    /* border-color: gray;
    border-style: outset;
    border-width: 0.01em;
    border-radius: 0%; */
    box-shadow: 6px 6px 6px black;
}

.job-text-color{
    color: lightgray;
    font-size: small;
}

.jobs-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%
}

.job-bullet{
    border: 1px solid gray;
    margin: 5px;
    margin-bottom: 15px;
    padding: 20px;
    padding-left: 30px;
    box-shadow: 6px 6px 3px black;
    opacity: 80%;
    background-color: silver;
    color: black
}

.job-bullet:last-of-type{
    margin-bottom: -5px;
}


/**--------------------Projects-----------------*/

.projects{
    background-color: gray;
    background-image: url("./images/LicDarkEdited1.heic");
    background-size: cover;
    padding: 2%;
    display: flex;
    flex-direction: column;

}

.projects-row{
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.fuller-card-sm{
    display: flex;
    margin-top: 2%;
    margin-left:2%;
    margin-right: 2%;
    margin-bottom: 4%;
    width: 94%;
    align-items: center;

}

.fuller-card-lg{
    display: flex;
    background-color: dimgray;
    opacity: 80%;
    width: 40%;
    margin-right: 2%;
    border-radius: 5px;
    border-color: gray;
    border-style: outset;
    border-width: 0.01em;
    box-shadow: 8px 8px 6px black;

}

.full-card{
    border-radius: 5px;
    margin-bottom: 4%;

}

.card-caption{
    margin: 0;
    padding: 4%;
    background:dimgrey;
    color: white;
    opacity: 75%;
    flex-basis: max-content;
    border-top-color: gray;
    border-left-color: gray;
    border-right-color: gray;
    border-bottom-color: transparent;
    border-top-style: outset;
    border-left-style: outset;
    border-right-style: outset;
    border-bottom-style: none;
    border-top-width: 0.01em;
    border-left-width: 0.01em;
    border-right-width: 0.01em;
    border-bottom-width: 0;
}

.card-bg{

    margin: 0;
    padding: 4%;
    /* background:dimgrey; */
    color: white;
    opacity: 75%;
    flex-basis: max-content;
    border-color: gray;
    border-style: outset;
    border-width: 0.005em;
}

.card-txt{
    margin: 4%;
    padding: 2%
}

.card-bg{
    padding: 6%;
    margin-top: 4%;
    margin-bottom: 4%
}

.card-body{
    padding: 2%;
}

card-caption{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8%;
}

.btns-a{
    margin-top: 7%;
    margin-bottom: 2.5%;
    margin-left: 1px;
    padding: 3%;
}

.btns.b{
    padding-top: 10%

}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.card-img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.card-image{
    border-bottom: gray 1px transparent;
}

.carousel-control-next{
    z-index: 100;
    height: 100%;
}

.buttonClass{
    background-color:aliceblue;

}

.button-space{
    margin-bottom: 5%;
}

/**--------------------Wall-----------------*/

.wall{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    display: grid;
    background-image: url("./images/LicDarkEdited.jpeg");
    background-size:cover;

}

.wall2{
    display: grid;
    /* grid-template-columns: [line1] 1fr [line2] 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* repeat(3, 1fr); Adjust the number of columns as needed */
    /* grid-template-rows: auto; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "a b c d"
        "e f g ."
        "h i j k"
        "l m n ."
        "o p q r";
    font-size: 10px;
    position: relative;
    /* height: 80%; */
    margin-bottom: 20px;
}

/* .wall2 :first-child{
    grid-column: a;
}

.wall2 :second-child{
    grid-column: b;
}

.wall2 :third-child{
    grid-column: c;
} */

/* .box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box5 { grid-area: box5; }
.box6 { grid-area: box6; }
.box7 { grid-area: box7; }
.box8 { grid-area: box8; }
.box9 { grid-area: box9; } */

.wall::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(210, 180, 40, 0.2); /* Black tint with 50% opacity */
    z-index: 0;
}

.wall2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(210, 180, 40, 0.2); Black tint with 50% opacity */
    z-index: 0;
}

.square2{
    background-color: #9c8b72;
    opacity: 100%;
    border: 1px solid black;
    width: 90%;
    height: 90%;
    position: relative;
    box-sizing: border-box;
    margin: 5%;
    padding: 0%;
    box-shadow: .3vw .3vw 1px black;
    font-size: 2em;
    font-weight: bolder;

    /* styling text inside */
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    overflow: hidden;
    container-type:inline-size;
}


.square{
    background-color: #796141;
    opacity: 50%;
    border: 1px solid black;
    width: 23vw;
    height: 7vw;
    position: relative;
    box-sizing: border-box;
    margin: .5vw;
    box-shadow: 1.5vw 1.5vw 0px black;
    font-size: 2.2vw;

    /* styling text inside */
    display: flex;
    justify-content: center;
    align-items: center;



}

.len3{
    font-size: 40cqw;
}

.len4{
    font-size: 30cqw;
}

.len5{
    font-size: 28cqw;
}

.len6{
    font-size: 22cqw;
}

.len7{
    font-size: 21cqw;
}

.len8{
    font-size: 19cqw;
}

.len9{
    font-size: 17cqw;
}

.len10{
    font-size: 14cqw;
}

.len13{
    font-size: 12cqw
}

.len16{
    font-size: 15cqw;
}

.len21{
    font-size: 13cqw;
}

p{
    font-weight: bolder;
    opacity: 200%;
    margin: 5px;

}

/* .square:hover{
    opacity: 80%;
}

.square:nth-child(10n + 1){
    margin-left: -10.5vw;
}

.square:nth-child(10n + 2){
    margin-left: -10.5vw;
}

.square:nth-child(10n + 3){
    margin-left: -10.5vw;
}

.square:nth-child(10n + 4){
    margin-left: -10.5vw;
}

.square:nth-child(10n + 5){
        margin-left: -10.5vw;

} */

/* .square:nth-child(3n + 1){
    box-shadow: 1.5vw 1.5vw 0px black;
    background-color: gray;
    opacity: 40%;

}
.square:nth-child(3n + 2){
    box-shadow: 1.5vw 1.5vw 0px black;
    background-color: #967969;
    opacity: 45%;

} */

.square2 > *{
    /* color: white;
    opacity:100%; */
}

.square2:nth-child(1){
    margin-left: 0;
    width: 40%;
    grid-area: a;
}

.square2:nth-child(2){
    margin-left: -50%;
    width: 140%;
    grid-area: b;
}

.square2:nth-child(3){
    margin-left: 0;
    width: 140%;
    grid-area: c;
}

.square2:nth-child(4){
    margin-left: 50%;
    width: 40%;
    grid-area: d;
}

.square2:nth-child(5){
    margin-left: 0;
    width: 125%;
    grid-area: e;

}

.square2:nth-child(6){
    margin-left: 35%;
    width: 125%;
    grid-area: f;

}

.square2:nth-child(7){
    margin-left: 70%;
    width: 125%;
    grid-area: g;

}

.square2:nth-child(8){
    margin-left: 0;
    width: 50%;
    grid-area: h;

}

.square2:nth-child(9){
    margin-left: -40%;
    width: 135%;
    grid-area: i;

}

.square2:nth-child(10){
    margin-left: 5%;
    width: 135%;
    grid-area: j;

}
.square2:nth-child(11){
    margin-left: 50%;
    width: 50%;
    grid-area: k;
}

.square2:nth-child(12){
    margin-left: 0;
    width: 130%;
    grid-area: l;
}

.square2:nth-child(13){
    margin-left: 35%;
    width: 130%;
    grid-area: m;
}

.square2:nth-child(14){
    margin-left: 70%;
    width: 130%;
    grid-area: n;
}

.square2:nth-child(15){
    margin-left: 0;
    width: 50%;
    grid-area: o;
}

.square2:nth-child(16){
    margin-left: -40%;
    width: 135%;
    grid-area: p;
}

.square2:nth-child(17){
    margin-left: 5%;
    width: 135%;
    grid-area: q;
}

.square2:nth-child(18){
    margin-left: 50%;
    width: 50%;
    grid-area: r;
}

.square2:nth-child(5n + 0){
    color: white;
    opacity: 100%;

}

.square2:nth-child(5n + 1){
    /* background-color: gray; */
    background-color: #7C7362;
    color: white;
    opacity: 100%;

}
.square2:nth-child(5n + 2){
    /* background-color: #967969; */
    background-color: #898c83;
    color: white;
    opacity: 90%;

}

.square2:nth-child(5n + 3){
    /* background-color: #697896; */
    background-color: #787354;
    color: white;
    opacity: 90%;

}

.square2:nth-child(5n + 4){
    /* background-color: #285251; */
    background-color: #969069;
    color: white;
    opacity: 90%;

}

/**-------------------new----------------*/

.skillSpace{
    background-color: none;
    opacity: 80%;
    margin-bottom: 5%;
}

.skillSpace > :nth-child(2){
    margin-left: 18px !important;
}

.skillSpace > :nth-child(3){
    margin-top: -13% !important;
}

.skillSpace > :nth-child(4){
    margin-top: 5% !important;
    margin-left: 18px !important;
}

.subSkillSpace{
    box-shadow: 6px 6px 6px black;
    color: black;
    border-top: 1px ridge black;
    border-left: 1px ridge black;
    margin-bottom: 20px;

}

.education-title{
    background-color: lightgray;
    opacity: 80%;
    color: black !important;
    border: 1px solid dimgray;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center; /* This centers the text vertically */

}

.education-card{
    box-shadow: 6px 6px 6px black;
    border-top: 1px ridge black;
    border-left: 1px ridge black;
    margin-top: 16px;
}

.skillTypeTitles{
    /* border: 1px solid dimgray; */
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
    margin-left: -9px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 1px ridge black;
}

hr{
   height: 3px;
   background-color: white;
}
